html
  head
    title= title  
    body
      h1 Bravo Yani t'es réveillé !
      p 
        | Il est temps maintenant de créer ton équipe !
        br
        | Ton équipe doit avoir un nom, et elle est composé de 11 joueurs, ni plus ni moins.
        br
        | Le nom des joueurs, leur niveau d'attaque et de défense est géré aléatoirement.
        br
        | Alors, que la chance soit de ton côté !
        
        
      form(action='/create_team', id="form" method='POST')
        p
          | Nom de l'équipe: 
          input(id='team_name' type='text', name='title', value='')
        p
          | Nombre de joueurs attaquants: 
          input(id='team_attackers' type='number', name='attackers', value='')
        p
          | Nombre de joueurs milieu: 
          input(id='team_middlers' type='number', name='middlers', value='')
        p
          | Nombre de joueurs défenseurs: 
          input(id='team_defenders' type='number', name='defenders', value='')
        input(type='submit', value='Créer mon équipe')
    
    script.
      var checkValues = function(event) {
        event.preventDefault();
          const teamName  = document.getElementById('team_name').value;
          const attackers  = parseInt(document.getElementById('team_attackers').value);
          const middlers  = parseInt(document.getElementById('team_middlers').value);
          const defenders  = parseInt(document.getElementById('team_defenders').value);

          if(!teamName) {
            alert('Veuillez entrer un nom pour l\'équipe');
            return false;
          }
          
          if(attackers < 0 || middlers < 0 || defenders < 0) {
            alert('Vous avez entré un chiffre négatif. Pas cool.');
            return false;
          }
          
          if(attackers + middlers + defenders == 11) {
            const teamCreation = fetch('/graphql', {
              method: 'POST',
              headers: new Headers({'Content-Type': 'application/json'}),
              body: JSON.stringify({
                query: `mutation createTeam($teamInfos: TeamInput!) {
                  createTeam(teamInfos: $teamInfos) {
                    name
                  }
                }`,
              variables: {
                teamInfos: {
                  name: teamName,
              }
            }
            })
          }
          playerList = [];
          for(let i = 0, i < attackers, i++) {
            playerList[i] = {
              name: `player ${i}`,
              attack : Math.floor(Math.random() * 31) + 60,
              defense : Math.floor(Math.random() * 41) + 20,
              teamName : "YAL"
            }
          }
          
          for(let i = 0, i < middlers, i++) {
            playerList[i] = {
              name: `player ${i}`,
              attack : Math.floor(Math.random() * 21) + 50,
              defense : Math.floor(Math.random() * 21) + 50,
              teamName : "YAL"
            }
          }
          
          for(let i = 0, i < defenders, i++) {
            playerList[i] = {
              name: `player ${i}`,
              attack : Math.floor(Math.random() * 41) + 20,
              defense : Math.floor(Math.random() * 31) + 60,
              teamName : "YAL"
            }
          }
          playerList.forEach(player => {
            console.log("test");
          })
            fetch('/graphql', {
              method: 'POST',
              headers: new Headers({'Content-Type': 'application/json'}),
              body: JSON.stringify({
                query: `mutation createPlayer($playerInfos: PlayerInput!) {
                  createPlayer(playerInfos: $playerInfos) {
                    name
                  }
                }`,
              variables: {
                playerInfos: {
                  name: "test",
                  attack : 50,
                  defense : 50,
                  teamName : "YAL"
              },
            }//attaquants : 60-90 20-60, milieu: 50-70 50-70, defenseurs: 20-60 60-90, gardien : 1-15, 80-200
          })
            }).then((response) => {
              console.log(response);
              return false
            }
          ).catch(error => console.log(error));
            
            return false;
          }
        
        alert('Une équipe doit être composée de 11 joueurs. Je dis ça je dis rien.');
        return false;
      }
      
      document.getElementById("form").addEventListener("submit", checkValues, true);
